@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(135deg, #ceea85, #00d4ff);
    background-repeat: no-repeat;
    min-height: 100vh;
    /* margin-bottom: 30px; */
}

.my-text {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    margin-top: 30px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 5px 5px 5px lightslategrey;
    overflow: visible;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 15px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    height: auto;
}

.search button:hover {
    background-color: #d9d9d9;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.weather.shown {
    display: block;
    opacity: 1;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
